:root {
  --font-family: "Nunito Sans", sans-serif;
  --content-width: 1440px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/../fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/../fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/../fonts/YesevaOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 113px 1fr 163px;
  grid-template-rows: 113px 1fr 163px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .site-container {
    -ms-grid-rows: 113px 1fr 113px;
    grid-template-rows: 113px 1fr 113px;
  }
}

.main {
  min-height: 100vh;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Yeseva One";
  font-weight: 400;
  text-transform: uppercase;
  color: #E3B873;
}

.btn {
  padding: 13px 33px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn:hover {
  color: #000;
  background-color: #fff;
}

.btn--fill {
  border: 1px solid #E3B873;
  background-color: #E3B873;
}

.btn--stroke {
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
  background-color: #131313;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
}
.logo img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 576px) {
  .logo {
    width: 160px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 47px;
}
@media (max-width: 1270px) {
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}
.nav__link {
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.nav__link--current {
  color: #E3B873;
}
.nav__link:hover {
  color: #E3B873;
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__link {
  display: inline-block;
  margin-right: 45px;
  font-size: 11px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #E3B873;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.contacts__link:hover {
  color: #fff;
}
@media (max-width: 1270px) {
  .contacts__link {
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .contacts__link {
    margin-right: 80px;
  }
}
@media (max-width: 576px) {
  .contacts__link {
    margin-right: 0;
    color: #fff;
    text-decoration: none;
  }
}
@media (max-width: 576px) {
  .contacts__btn {
    display: none;
  }
}

.page-hero {
  min-height: 100vh;
  background-image: url("/img/image-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-hero__container {
  padding-top: 195px;
  padding-bottom: 208px;
}
@media (max-width: 576px) {
  .page-hero__container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
.page-hero__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 515px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page-hero__title span {
  color: #E3B873;
}
@media (max-width: 768px) {
  .page-hero__title {
    max-width: 330px;
  }
}
@media (max-width: 576px) {
  .page-hero__title {
    font-size: 22px;
    line-height: 33px;
  }
}
.page-hero__descr {
  margin: 0;
  margin-bottom: 40px;
  max-width: 505px;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .page-hero__descr {
    font-size: 14px;
    line-height: 20px;
  }
}
.page-hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .page-hero__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.page-hero__btn {
  padding: 20px 40px;
}
.page-hero__btn:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 576px) {
  .page-hero__btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .page-hero__btn {
    width: 100%;
  }
}

.projects {
  padding-top: 105px;
  padding-bottom: 415px;
  background-color: #131313;
}
.projects__container {
  position: relative;
}
.projects__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 55px;
}
@media (max-width: 576px) {
  .projects__nav {
    display: none;
  }
}
.projects__item:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 576px) {
  .projects__item:not(:last-child) {
    margin-right: 30px;
  }
}
.projects__btn {
  position: relative;
  padding-bottom: 6px;
  font-weight: 400;
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.projects__btn--current {
  border-bottom: 1px solid currentColor;
  color: #E3B873;
}
.projects__btn:hover {
  border-bottom: 1px solid currentColor;
  color: #E3B873;
}
.projects__content {
  margin-right: 50px;
  padding-top: 45px;
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .projects__content {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .projects__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0;
  }
}
.projects__title {
  margin: 0;
  margin-bottom: 35px;
  width: 250px;
  letter-spacing: -0.07em;
  font-size: 27px;
  line-height: 37px;
}
@media (max-width: 576px) {
  .projects__title {
    text-align: center;
  }
}
.projects__descr {
  margin: 0;
  margin-bottom: 40px;
  line-height: 27px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .projects__descr {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .projects__descr {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 135.84%;
  }
}
.projects__image {
  padding-top: 45px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 680px;
}
.projects__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .projects__image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .projects__image {
    padding-top: 0;
  }
}
.projects__btns {
  position: absolute;
  left: 15px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 1024px) {
  .projects__btns {
    bottom: -50px;
  }
}
@media (max-width: 576px) {
  .projects__btns {
    display: none;
  }
}
@media (max-width: 576px) {
  .projects {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .swiper-slide {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.info__item {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
}
.info__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
}
@media (max-width: 576px) {
  .info__title {
    font-size: 14px;
    line-height: 138.6%;
  }
}
.info__value {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .info__value {
    font-size: 11px;
    line-height: 135.84%;
  }
}
@media (max-width: 576px) {
  .info {
    gap: 50px;
  }
}

.project-prev-btn,
.project-next-btn {
  margin-right: 30px;
  width: 41px;
  height: 14px;
}
.project-prev-btn svg,
.project-next-btn svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  -webkit-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.project-prev-btn svg:hover,
.project-next-btn svg:hover {
  fill: #E3B873;
}

.project-next-btn {
  margin-right: 0;
  margin-left: 30px;
}

.project-pagination {
  margin-right: 18px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.project-pagination:nth-child(4) {
  margin-right: 0;
}

.project-pagination--active {
  background-color: #fff;
}

.control {
  padding-bottom: 70px;
  background-color: #fff;
}
.control__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 817px;
  margin: 0 auto;
}
.control__title {
  margin-top: -310px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}
@media (max-width: 576px) {
  .control__title {
    margin-top: 0;
  }
}
.control__caption {
  margin-bottom: 30px;
}
.control__text {
  position: relative;
  margin: 0;
  margin-bottom: 90px;
  padding-top: 35px;
  max-width: 680px;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
}
.control__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 55px;
  height: 2px;
  background-color: #E3B873;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  .control__text {
    margin-bottom: 60px;
    font-size: 12px;
    line-height: 169.8%;
  }
}
.caption {
  position: relative;
  padding: 0 43px;
}
.caption::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 30px;
  width: 32px;
  height: 2px;
  background-color: #E3B873;
}
.caption::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 30px;
  width: 32px;
  height: 2px;
  background-color: #E3B873;
}
.caption__image {
  width: 33px;
}
.caption__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-block {
  position: relative;
  z-index: 10;
  margin-bottom: 60px;
  width: 100%;
  height: 435px;
  overflow: hidden;
}
.video-block::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}
.video-block__play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 50;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video-block__play svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}
@media (max-width: 576px) {
  .video-block__play svg {
    width: 15px;
    height: 15px;
  }
}
.video-block__play:hover {
  background-color: #f6a41f;
}
@media (max-width: 576px) {
  .video-block__play {
    width: 37px;
    height: 37px;
  }
}
.video-block__content {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 768px) {
  .video-block {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .video-block {
    height: 250px;
  }
}

.form-contacts {
  width: 95%;
}
.form-contacts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .form-contacts__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .form-contacts__field {
    width: 70%;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .form-contacts__field {
    width: 100%;
  }
}
.form-contacts__btn {
  padding: 17px 75px;
  font-size: 13px;
}
@media (max-width: 576px) {
  .form-contacts__btn {
    width: 100%;
  }
}
.form-contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.form-field {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.form-field__caption {
  display: block;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.form-field__input {
  width: 230px;
  font-size: 14px;
  line-height: 23px;
}
.form-field__input::-webkit-input-placeholder {
  color: #363636;
}
.form-field__input::-moz-placeholder {
  color: #363636;
}
.form-field__input:-ms-input-placeholder {
  color: #363636;
}
.form-field__input::-ms-input-placeholder {
  color: #363636;
}
.form-field__input::placeholder {
  color: #363636;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.custom-checkbox__input {
  position: absolute;
  opacity: 0;
  z-index: 10;
}
.custom-checkbox__text {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}
.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 1px;
  display: inline-block;
  border-radius: 1px;
  border: 1px solid #E3B873;
  width: 18px;
  height: 18px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.custom-checkbox__text::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 1px;
  display: inline-block;
  border-radius: 1px;
  width: 18px;
  height: 18px;
  background-image: url("/img/check.png");
  background-position: center;
  background-size: 10px 8px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.custom-checkbox__input:checked + .custom-checkbox__text::before {
  background-color: #E3B873;
}

.custom-checkbox__input:checked + .custom-checkbox__text::after {
  opacity: 1;
}

.repair {
  padding: 70px 0;
}
.repair__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.repair__title {
  color: #181818;
}
.repair__caption {
  margin-bottom: 30px;
}
.repair__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
@media (max-width: 1024px) {
  .repair__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .repair__columns {
    padding-bottom: 0;
  }
}
@media (max-width: 1024px) {
  .repair {
    padding-top: 0;
  }
}

.repair-column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
}
.repair-column__image img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.repair-column__inner {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  margin-top: -130px;
  padding: 25px 25px 50px 35px;
  width: 330px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
@media (max-width: 1270px) {
  .repair-column__inner {
    margin-left: 0;
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .repair-column__inner {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .repair-column__inner {
    width: 80%;
  }
}
.repair-column__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.repair-column__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.repair-column__item:not(:last-child) {
  margin-bottom: 12px;
}
.repair-column__item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background-color: #959595;
}
.repair-column__descr {
  margin: 0;
  padding-left: 12px;
  font-size: 13px;
  color: #959595;
}
.repair-column__price {
  position: absolute;
  bottom: -28px;
  left: 0;
  padding: 17px 22px;
  max-width: 228px;
  background-color: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.repair-column__value {
  margin: 0;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.advantage {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
  background-image: url("/img/advantage-bg.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
}
.advantage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .advantage__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.advantage__list {
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 195px;
}
@media (max-width: 1024px) {
  .advantage__list {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .advantage__list {
    padding-right: 0;
    width: 100%;
  }
}
.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.advantage__item:not(:last-child) {
  margin-bottom: 90px;
}
@media (max-width: 1024px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.advantage__nume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
  border: 8px solid #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #E3B873;
}
.advantage__descr {
  margin: 0;
  max-width: 315px;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
}
.advantage .form-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 50px;
  width: 506px;
  height: 520px;
  background: #131313;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
@media (max-width: 576px) {
  .advantage .form-contacts {
    padding: 30px;
    height: auto;
    width: 100%;
  }
}
.advantage .form-contacts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.advantage .form-contacts__descr {
  margin: 0;
  margin-bottom: 30px;
  max-width: 300px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
.advantage .form-field__caption {
  color: rgba(255, 255, 255, 0.5);
}
.advantage .form-field__input {
  width: 100%;
  background-color: #131313;
}
.advantage .form-field__input::-webkit-input-placeholder {
  color: #fff;
}
.advantage .form-field__input::-moz-placeholder {
  color: #fff;
}
.advantage .form-field__input:-ms-input-placeholder {
  color: #fff;
}
.advantage .form-field__input::-ms-input-placeholder {
  color: #fff;
}
.advantage .form-field__input::placeholder {
  color: #fff;
}
.advantage .form-field {
  margin-bottom: 45px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.advantage .form-field:nth-child(3) {
  margin-bottom: 20px;
}
.advantage .custom-checkbox__text {
  color: #fff;
}
.advantage .form-contacts__bottom {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.advantage .form-contacts__btn {
  margin-top: auto;
  padding: 18px 22px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
@media (max-width: 1024px) {
  .advantage {
    padding-bottom: 140px;
  }
}
@media (max-width: 768px) {
  .advantage {
    padding-top: 0;
  }
}
@media (max-width: 576px) {
  .advantage {
    padding-bottom: 0;
  }
}

.share {
  position: absolute;
  right: 180px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.share__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 25px;
  width: 72px;
  height: 72px;
  background-color: #E3B873;
}
.share__descr {
  max-width: 250px;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
@media (max-width: 576px) {
  .share {
    display: none;
  }
}

.desing {
  margin-top: 240px;
  margin-bottom: 110px;
  background-color: #fff;
  background-image: url("/img/desing-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.desing__bg {
  background: -o-linear-gradient(340.2deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.desing__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.desing__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 375px;
  flex: 0 1 375px;
  margin: 138px 78px 120px 100px;
}
@media (max-width: 1270px) {
  .desing__left {
    margin-left: 30px;
  }
}
@media (max-width: 576px) {
  .desing__left {
    margin: 0;
    padding: 30px;
  }
}
.desing__slogan {
  margin: 0;
  margin-bottom: 45px;
  font-size: 27px;
}
@media (max-width: 576px) {
  .desing__slogan {
    font-size: 22px;
    line-height: 138.6%;
  }
}
.desing__item:not(:last-child) {
  margin-bottom: 25px;
}
.desing__link {
  font-size: 20px;
  color: #fff;
}
.desing__link--current {
  border-bottom: 1px solid currentColor;
  color: #E3B873;
}
.desing__link:hover {
  border-bottom: 1px solid currentColor;
  color: #E3B873;
}
@media (max-width: 576px) {
  .desing__link {
    font-size: 18px;
  }
}
.desing__grid {
  position: absolute;
  top: -38px;
  right: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (354px)[2];
  grid-template-columns: repeat(2, 354px);
  grid-gap: 40px;
}
@media (max-width: 1270px) {
  .desing__grid {
    right: 0;
    -ms-grid-columns: (45%)[2];
    grid-template-columns: repeat(2, 45%);
    width: 670px;
  }
}
@media (max-width: 1024px) {
  .desing__grid {
    right: 15px;
    gap: 20px;
    width: 53%;
  }
}
@media (max-width: 768px) {
  .desing__grid {
    display: none;
  }
}
@media (max-width: 768px) {
  .desing {
    margin-top: 70px;
    margin-bottom: 0;
  }
}

.grid-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-image1 {
  height: 558px;
}

.grid-image2 {
  margin-top: -70px;
  height: 275px;
}

.grid-image3 {
  height: 350px;
}

.grid-image4 {
  margin-top: -356px;
  height: 625px;
}

.clients {
  padding-bottom: 380px;
  background-image: url("/img/clients-bg.png");
  background-position: bottom;
  background-size: contain;
  background-color: #fff;
}
.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients__title {
  color: #181818;
}
.clients__caption {
  margin-bottom: 25px;
}
.clients__descr {
  margin: 0;
  max-width: 420px;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
}
.clients__card {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .clients {
    padding-top: 70px;
  }
}
@media (max-width: 576px) {
  .clients {
    padding-bottom: 340px;
  }
}

.card-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}
.card-client__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
}
.card-client__content {
  position: relative;
  padding: 25px 20px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.card-client__top {
  margin-bottom: 90px;
}
@media (max-width: 576px) {
  .card-client__top {
    margin-bottom: 40px;
  }
}
.card-client__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.card-client__image {
  margin-right: 23px;
  border-radius: 100%;
  width: 76px;
  height: 76px;
  overflow: hidden;
}
.card-client__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-client__name {
  max-width: 178px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}
.card-client__text {
  margin: 0;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
}
.card-client__bottom {
  position: absolute;
  bottom: -30px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  background-color: #E3B873;
  -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.card-client__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 18px;
  width: 100%;
  border-right: 1px solid #fff;
}
.card-client__value img {
  display: block;
  width: 33px;
  height: 33px;
  margin-right: 15px;
}
.card-client__value span {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 576px) {
  .card-client__value span {
    font-size: 15px;
  }
}
.card-client__value:nth-child(2) {
  border-right: none;
}
@media (max-width: 1270px) {
  .card-client {
    gap: 40px;
  }
}
@media (max-width: 1024px) {
  .card-client {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 80px;
  }
}

.location {
  position: relative;
  background-image: url("/img/location-bg.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.location__bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72)));
  background: -o-linear-gradient(top, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.location__container {
  padding-bottom: 65px;
}
.location__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 275px;
  margin: 0 auto;
  width: 925px;
}
@media (max-width: 1024px) {
  .location__box {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .location__box {
    padding-top: 370px;
  }
}
@media (max-width: 576px) {
  .location__box {
    padding-top: 400px;
  }
}
.location__address {
  margin-bottom: 25px;
  max-width: 590px;
  font-family: "Yeseva One";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}
@media (max-width: 576px) {
  .location__address {
    font-size: 16px;
  }
}
.location__social {
  margin-bottom: 40px;
}
.location__map {
  height: 465px;
}
.location__map img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .location__map {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .location__map {
    height: 250px;
  }
}
.location .form-contacts {
  position: absolute;
  left: 50%;
  top: -228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 180px;
  width: 880px;
  background: #131313;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .location .form-contacts {
    padding: 35px 50px;
    width: 90%;
  }
}
@media (max-width: 576px) {
  .location .form-contacts {
    padding: 30px;
    width: 100%;
  }
}
.location .form-contacts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 48px;
  width: 100%;
  height: 100%;
}
.location .form-contacts__subtitle {
  margin: 0;
  margin-bottom: 45px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.location .form-field__caption {
  color: rgba(255, 255, 255, 0.5);
}
.location .form-field__input {
  width: 100%;
  background-color: #131313;
}
.location .form-field__input::-webkit-input-placeholder {
  color: #fff;
}
.location .form-field__input::-moz-placeholder {
  color: #fff;
}
.location .form-field__input:-ms-input-placeholder {
  color: #fff;
}
.location .form-field__input::-ms-input-placeholder {
  color: #fff;
}
.location .form-field__input::placeholder {
  color: #fff;
}
.location .form-field {
  margin-bottom: 45px;
  width: 231px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 768px) {
  .location .form-field {
    width: 100%;
  }
}
.location .form-field:nth-child(2) {
  margin-left: 58px;
}
@media (max-width: 768px) {
  .location .form-field:nth-child(2) {
    margin-left: 0;
  }
}
.location .form-field:nth-child(3) {
  margin-bottom: 0;
  width: 100%;
}
.location .custom-checkbox__text {
  color: #fff;
}
.location .form-contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.location .form-contacts__btn {
  margin-top: 50px;
  padding: 20px 75px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 15px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  overflow: hidden;
  background-color: #E3B873;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.social__link svg {
  width: 14px;
  height: 11px;
  fill: #fff;
}
.social__link:hover {
  background-color: #f2a830;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  background-color: #131313;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-contacts__link {
  display: inline-block;
  margin-right: 45px;
  font-size: 11px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #E3B873;
}
/*# sourceMappingURL=main.css.map */